<!DOCTYPE html>
<html>
<head>
  <title>Envirorobots</title>
  <%= stylesheet_link_tag    "envirorobots/application", media: "all" %>
  <%= javascript_include_tag "envirorobots/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
